{
  "openapi": "3.0.3",
  "info": {
    "title": "Builder API",
    "version": "1.0.1"
  },
  "servers": [
    {
      "url": "https://release0.com/api"
    }
  ],
  "externalDocs": {
    "url": "https://docs.release0.com/api-reference"
  },
  "paths": {
    "/v1/agents/{agentId}/linkedAgents": {
      "get": {
        "operationId": "getLinkedAgents",
        "summary": "Get linked agents",
        "tags": [
          "Agents"
        ],
        "security": [
          {
            "Authorization": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "agentId",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "agents": {
                      "type": "array",
                      "items": {
                        "oneOf": [
                          {
                            "type": "object",
                            "properties": {
                              "version": {
                                "type": "string",
                                "enum": [
                                  "3",
                                  "4",
                                  "5"
                                ]
                              },
                              "groups": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "string"
                                    },
                                    "title": {
                                      "type": "string"
                                    },
                                    "graphCoordinates": {
                                      "type": "object",
                                      "properties": {
                                        "x": {
                                          "type": "number"
                                        },
                                        "y": {
                                          "type": "number"
                                        }
                                      },
                                      "required": [
                                        "x",
                                        "y"
                                      ]
                                    },
                                    "blocks": {
                                      "type": "array",
                                      "items": {
                                        "anyOf": [
                                          {
                                            "type": "object",
                                            "properties": {
                                              "id": {
                                                "type": "string"
                                              },
                                              "outgoingEdgeId": {
                                                "type": "string"
                                              },
                                              "type": {
                                                "type": "string",
                                                "enum": [
                                                  "start"
                                                ]
                                              },
                                              "label": {
                                                "type": "string"
                                              }
                                            },
                                            "required": [
                                              "id",
                                              "type",
                                              "label"
                                            ]
                                          },
                                          {
                                            "oneOf": [
                                              {
                                                "$ref": "#/components/schemas/textBlock"
                                              },
                                              {
                                                "$ref": "#/components/schemas/imageBlock"
                                              },
                                              {
                                                "$ref": "#/components/schemas/videoBlock"
                                              },
                                              {
                                                "$ref": "#/components/schemas/embedBlock"
                                              },
                                              {
                                                "$ref": "#/components/schemas/audioBlock"
                                              }
                                            ],
                                            "discriminator": {
                                              "propertyName": "type",
                                              "mapping": {
                                                "text": "#/components/schemas/textBlock",
                                                "image": "#/components/schemas/imageBlock",
                                                "video": "#/components/schemas/videoBlock",
                                                "embed": "#/components/schemas/embedBlock",
                                                "audio": "#/components/schemas/audioBlock"
                                              }
                                            }
                                          },
                                          {
                                            "oneOf": [
                                              {
                                                "$ref": "#/components/schemas/textInput"
                                              },
                                              {
                                                "$ref": "#/components/schemas/email"
                                              },
                                              {
                                                "$ref": "#/components/schemas/address"
                                              },
                                              {
                                                "$ref": "#/components/schemas/autocomplete"
                                              },
                                              {
                                                "$ref": "#/components/schemas/numberInput"
                                              },
                                              {
                                                "$ref": "#/components/schemas/url"
                                              },
                                              {
                                                "$ref": "#/components/schemas/phoneNumberInput"
                                              },
                                              {
                                                "$ref": "#/components/schemas/dateInput"
                                              },
                                              {
                                                "$ref": "#/components/schemas/paymentInput"
                                              },
                                              {
                                                "$ref": "#/components/schemas/rating"
                                              },
                                              {
                                                "$ref": "#/components/schemas/buttonsInputV5"
                                              },
                                              {
                                                "$ref": "#/components/schemas/fileInputV5"
                                              },
                                              {
                                                "$ref": "#/components/schemas/pictureChoiceV5"
                                              }
                                            ],
                                            "discriminator": {
                                              "propertyName": "type",
                                              "mapping": {
                                                "text input": "#/components/schemas/textInput",
                                                "email input": "#/components/schemas/email",
                                                "address input": "#/components/schemas/address",
                                                "autocomplete input": "#/components/schemas/autocomplete",
                                                "number input": "#/components/schemas/numberInput",
                                                "url input": "#/components/schemas/url",
                                                "phone number input": "#/components/schemas/phoneNumberInput",
                                                "date input": "#/components/schemas/dateInput",
                                                "payment input": "#/components/schemas/paymentInput",
                                                "rating input": "#/components/schemas/rating",
                                                "choice input": "#/components/schemas/buttonsInputV5",
                                                "file input": "#/components/schemas/fileInputV5",
                                                "image choice": "#/components/schemas/pictureChoiceV5"
                                              }
                                            }
                                          },
                                          {
                                            "oneOf": [
                                              {
                                                "$ref": "#/components/schemas/scriptLogic"
                                              },
                                              {
                                                "$ref": "#/components/schemas/redirectLogic"
                                              },
                                              {
                                                "$ref": "#/components/schemas/setVariableLogic"
                                              },
                                              {
                                                "$ref": "#/components/schemas/AgentLinkLogic"
                                              },
                                              {
                                                "$ref": "#/components/schemas/waitLogic"
                                              },
                                              {
                                                "$ref": "#/components/schemas/jumpLogic"
                                              },
                                              {
                                                "type": "object",
                                                "properties": {
                                                  "id": {
                                                    "type": "string"
                                                  },
                                                  "outgoingEdgeId": {
                                                    "type": "string"
                                                  },
                                                  "type": {
                                                    "type": "string",
                                                    "enum": [
                                                      "Condition"
                                                    ]
                                                  },
                                                  "items": {
                                                    "type": "array",
                                                    "items": {
                                                      "type": "object",
                                                      "properties": {
                                                        "id": {
                                                          "type": "string"
                                                        },
                                                        "blockId": {
                                                          "type": "string"
                                                        },
                                                        "outgoingEdgeId": {
                                                          "type": "string"
                                                        },
                                                        "content": {
                                                          "type": "object",
                                                          "properties": {
                                                            "logicalOperator": {
                                                              "type": "string",
                                                              "enum": [
                                                                "OR",
                                                                "AND"
                                                              ]
                                                            },
                                                            "comparisons": {
                                                              "type": "array",
                                                              "items": {
                                                                "type": "object",
                                                                "properties": {
                                                                  "id": {
                                                                    "type": "string"
                                                                  },
                                                                  "variableId": {
                                                                    "type": "string"
                                                                  },
                                                                  "comparisonOperator": {
                                                                    "type": "string",
                                                                    "enum": [
                                                                      "Equal to",
                                                                      "Not equal",
                                                                      "Contains",
                                                                      "Does not contain",
                                                                      "Greater than",
                                                                      "Greater or equal to",
                                                                      "Less than",
                                                                      "Less or equal to",
                                                                      "Is set",
                                                                      "Is empty",
                                                                      "Starts with",
                                                                      "Ends with",
                                                                      "Matches regex",
                                                                      "Does not match regex"
                                                                    ]
                                                                  },
                                                                  "value": {
                                                                    "type": "string"
                                                                  }
                                                                },
                                                                "required": [
                                                                  "id"
                                                                ]
                                                              }
                                                            }
                                                          }
                                                        }
                                                      },
                                                      "required": [
                                                        "id"
                                                      ]
                                                    }
                                                  }
                                                },
                                                "required": [
                                                  "id",
                                                  "type",
                                                  "items"
                                                ]
                                              },
                                              {
                                                "type": "object",
                                                "properties": {
                                                  "id": {
                                                    "type": "string"
                                                  },
                                                  "outgoingEdgeId": {
                                                    "type": "string"
                                                  },
                                                  "type": {
                                                    "type": "string",
                                                    "enum": [
                                                      "AB test"
                                                    ]
                                                  },
                                                  "items": {
                                                    "type": "array",
                                                    "maxItems": 2,
                                                    "minItems": 2,
                                                    "items": {
                                                      "oneOf": [
                                                        {
                                                          "type": "object",
                                                          "properties": {
                                                            "id": {
                                                              "type": "string"
                                                            },
                                                            "blockId": {
                                                              "type": "string"
                                                            },
                                                            "outgoingEdgeId": {
                                                              "type": "string"
                                                            },
                                                            "path": {
                                                              "type": "string",
                                                              "enum": [
                                                                "a"
                                                              ]
                                                            }
                                                          },
                                                          "required": [
                                                            "id",
                                                            "path"
                                                          ]
                                                        },
                                                        {
                                                          "type": "object",
                                                          "properties": {
                                                            "id": {
                                                              "type": "string"
                                                            },
                                                            "blockId": {
                                                              "type": "string"
                                                            },
                                                            "outgoingEdgeId": {
                                                              "type": "string"
                                                            },
                                                            "path": {
                                                              "type": "string",
                                                              "enum": [
                                                                "b"
                                                              ]
                                                            }
                                                          },
                                                          "required": [
                                                            "id",
                                                            "path"
                                                          ]
                                                        }
                                                      ]
                                                    }
                                                  },
                                                  "options": {
                                                    "type": "object",
                                                    "properties": {
                                                      "aPercent": {
                                                        "type": "number",
                                                        "minimum": 0,
                                                        "maximum": 100
                                                      }
                                                    }
                                                  }
                                                },
                                                "required": [
                                                  "id",
                                                  "type",
                                                  "items"
                                                ]
                                              }
                                            ]
                                          },
                                          {
                                            "oneOf": [
                                              {
                                                "$ref": "#/components/schemas/chatwootBlock"
                                              },
                                              {
                                                "$ref": "#/components/schemas/googleAnalyticsBlock"
                                              },
                                              {
                                                "type": "object",
                                                "properties": {
                                                  "id": {
                                                    "type": "string"
                                                  },
                                                  "outgoingEdgeId": {
                                                    "type": "string"
                                                  },
                                                  "type": {
                                                    "type": "string",
                                                    "enum": [
                                                      "OpenAI"
                                                    ]
                                                  },
                                                  "options": {
                                                    "oneOf": [
                                                      {
                                                        "type": "object",
                                                        "properties": {
                                                          "credentialsId": {
                                                            "type": "string"
                                                          },
                                                          "baseUrl": {
                                                            "type": "string"
                                                          },
                                                          "apiVersion": {
                                                            "type": "string"
                                                          }
                                                        }
                                                      },
                                                      {
                                                        "type": "object",
                                                        "properties": {
                                                          "task": {
                                                            "type": "string",
                                                            "enum": [
                                                              "Create chat completion"
                                                            ]
                                                          },
                                                          "model": {
                                                            "type": "string"
                                                          },
                                                          "messages": {
                                                            "type": "array",
                                                            "items": {
                                                              "anyOf": [
                                                                {
                                                                  "type": "object",
                                                                  "properties": {
                                                                    "id": {
                                                                      "type": "string"
                                                                    },
                                                                    "role": {
                                                                      "type": "string",
                                                                      "enum": [
                                                                        "system",
                                                                        "user",
                                                                        "assistant"
                                                                      ]
                                                                    },
                                                                    "content": {
                                                                      "type": "string"
                                                                    },
                                                                    "name": {
                                                                      "type": "string"
                                                                    }
                                                                  },
                                                                  "required": [
                                                                    "id"
                                                                  ]
                                                                },
                                                                {
                                                                  "type": "object",
                                                                  "properties": {
                                                                    "id": {
                                                                      "type": "string"
                                                                    },
                                                                    "role": {
                                                                      "type": "string",
                                                                      "enum": [
                                                                        "Messages sequence ✨"
                                                                      ]
                                                                    },
                                                                    "content": {
                                                                      "type": "object",
                                                                      "properties": {
                                                                        "assistantMessagesVariableId": {
                                                                          "type": "string"
                                                                        },
                                                                        "userMessagesVariableId": {
                                                                          "type": "string"
                                                                        }
                                                                      }
                                                                    }
                                                                  },
                                                                  "required": [
                                                                    "id",
                                                                    "role"
                                                                  ]
                                                                },
                                                                {
                                                                  "type": "object",
                                                                  "properties": {
                                                                    "id": {
                                                                      "type": "string"
                                                                    },
                                                                    "role": {
                                                                      "type": "string",
                                                                      "enum": [
                                                                        "Dialogue"
                                                                      ]
                                                                    },
                                                                    "dialogueVariableId": {
                                                                      "type": "string"
                                                                    },
                                                                    "startsBy": {
                                                                      "type": "string",
                                                                      "enum": [
                                                                        "user",
                                                                        "assistant"
                                                                      ]
                                                                    }
                                                                  },
                                                                  "required": [
                                                                    "id",
                                                                    "role"
                                                                  ]
                                                                }
                                                              ]
                                                            }
                                                          },
                                                          "advancedSettings": {
                                                            "type": "object",
                                                            "properties": {
                                                              "temperature": {
                                                                "anyOf": [
                                                                  {
                                                                    "type": "number"
                                                                  },
                                                                  {}
                                                                ]
                                                              }
                                                            }
                                                          },
                                                          "responseMapping": {
                                                            "type": "array",
                                                            "items": {
                                                              "type": "object",
                                                              "properties": {
                                                                "id": {
                                                                  "type": "string"
                                                                },
                                                                "valueToExtract": {
                                                                  "type": "string",
                                                                  "enum": [
                                                                    "Message content",
                                                                    "Total tokens"
                                                                  ]
                                                                },
                                                                "variableId": {
                                                                  "type": "string"
                                                                }
                                                              },
                                                              "required": [
                                                                "id",
                                                                "valueToExtract"
                                                              ]
                                                            }
                                                          },
                                                          "credentialsId": {
                                                            "type": "string"
                                                          },
                                                          "baseUrl": {
                                                            "type": "string"
                                                          },
                                                          "apiVersion": {
                                                            "type": "string"
                                                          }
                                                        },
                                                        "required": [
                                                          "task"
                                                        ]
                                                      },
                                                      {
                                                        "type": "object",
                                                        "properties": {
                                                          "task": {
                                                            "type": "string",
                                                            "enum": [
                                                              "Create image"
                                                            ]
                                                          },
                                                          "prompt": {
                                                            "type": "string"
                                                          },
                                                          "advancedOptions": {
                                                            "type": "object",
                                                            "properties": {
                                                              "size": {
                                                                "type": "string",
                                                                "enum": [
                                                                  "256x256",
                                                                  "512x512",
                                                                  "1024x1024"
                                                                ]
                                                              }
                                                            }
                                                          },
                                                          "responseMapping": {
                                                            "type": "array",
                                                            "items": {
                                                              "type": "object",
                                                              "properties": {
                                                                "id": {
                                                                  "type": "string"
                                                                },
                                                                "valueToExtract": {
                                                                  "type": "string",
                                                                  "enum": [
                                                                    "Image URL"
                                                                  ]
                                                                },
                                                                "variableId": {
                                                                  "type": "string"
                                                                }
                                                              },
                                                              "required": [
                                                                "id",
                                                                "valueToExtract"
                                                              ]
                                                            }
                                                          },
                                                          "credentialsId": {
                                                            "type": "string"
                                                          },
                                                          "baseUrl": {
                                                            "type": "string"
                                                          },
                                                          "apiVersion": {
                                                            "type": "string"
                                                          }
                                                        },
                                                        "required": [
                                                          "task",
                                                          "advancedOptions",
                                                          "responseMapping"
                                                        ]
                                                      },
                                                      {
                                                        "type": "object",
                                                        "properties": {
                                                          "credentialsId": {
                                                            "type": "string"
                                                          },
                                                          "baseUrl": {
                                                            "type": "string"
                                                          },
                                                          "apiVersion": {
                                                            "type": "string"
                                                          },
                                                          "task": {
                                                            "type": "string",
                                                            "enum": [
                                                              "Create speech"
                                                            ]
                                                          },
                                                          "model": {
                                                            "type": "string"
                                                          },
                                                          "input": {
                                                            "type": "string"
                                                          },
                                                          "voice": {
                                                            "type": "string",
                                                            "enum": [
                                                              "alloy",
                                                              "echo",
                                                              "fable",
                                                              "onyx",
                                                              "nova",
                                                              "shimmer"
                                                            ]
                                                          },
                                                          "saveUrlInVariableId": {
                                                            "type": "string"
                                                          }
                                                        },
                                                        "required": [
                                                          "task"
                                                        ]
                                                      }
                                                    ]
                                                  }
                                                },
                                                "required": [
                                                  "id",
                                                  "type"
                                                ]
                                              },
                                              {
                                                "$ref": "#/components/schemas/sendEmailBlock"
                                              },
                                              {
                                                "$ref": "#/components/schemas/pixelBlock"
                                              },
                                              {
                                                "type": "object",
                                                "properties": {
                                                  "id": {
                                                    "type": "string"
                                                  },
                                                  "outgoingEdgeId": {
                                                    "type": "string"
                                                  },
                                                  "type": {
                                                    "type": "string",
                                                    "enum": [
                                                      "Google Sheets"
                                                    ]
                                                  },
                                                  "options": {
                                                    "oneOf": [
                                                      {
                                                        "type": "object",
                                                        "properties": {
                                                          "credentialsId": {
                                                            "type": "string"
                                                          },
                                                          "sheetId": {
                                                            "type": "string"
                                                          },
                                                          "spreadsheetId": {
                                                            "type": "string"
                                                          },
                                                          "action": {
                                                            "type": "string",
                                                            "enum": [
                                                              "Get data from sheet"
                                                            ]
                                                          },
                                                          "referenceCell": {
                                                            "type": "object",
                                                            "properties": {
                                                              "column": {
                                                                "type": "string"
                                                              },
                                                              "value": {
                                                                "type": "string"
                                                              },
                                                              "id": {
                                                                "type": "string"
                                                              }
                                                            },
                                                            "required": [
                                                              "id"
                                                            ]
                                                          },
                                                          "filter": {
                                                            "type": "object",
                                                            "properties": {
                                                              "comparisons": {
                                                                "type": "array",
                                                                "items": {
                                                                  "type": "object",
                                                                  "properties": {
                                                                    "id": {
                                                                      "type": "string"
                                                                    },
                                                                    "column": {
                                                                      "type": "string"
                                                                    },
                                                                    "comparisonOperator": {
                                                                      "type": "string",
                                                                      "enum": [
                                                                        "Equal to",
                                                                        "Not equal",
                                                                        "Contains",
                                                                        "Does not contain",
                                                                        "Greater than",
                                                                        "Greater or equal to",
                                                                        "Less than",
                                                                        "Less or equal to",
                                                                        "Is set",
                                                                        "Is empty",
                                                                        "Starts with",
                                                                        "Ends with",
                                                                        "Matches regex",
                                                                        "Does not match regex"
                                                                      ]
                                                                    },
                                                                    "value": {
                                                                      "type": "string"
                                                                    }
                                                                  },
                                                                  "required": [
                                                                    "id"
                                                                  ]
                                                                }
                                                              },
                                                              "logicalOperator": {
                                                                "type": "string",
                                                                "enum": [
                                                                  "OR",
                                                                  "AND"
                                                                ]
                                                              }
                                                            }
                                                          },
                                                          "cellsToExtract": {
                                                            "type": "array",
                                                            "items": {
                                                              "type": "object",
                                                              "properties": {
                                                                "column": {
                                                                  "type": "string"
                                                                },
                                                                "id": {
                                                                  "type": "string"
                                                                },
                                                                "variableId": {
                                                                  "type": "string"
                                                                }
                                                              },
                                                              "required": [
                                                                "id"
                                                              ]
                                                            }
                                                          },
                                                          "totalRowsToExtract": {
                                                            "type": "string",
                                                            "enum": [
                                                              "All",
                                                              "First",
                                                              "Last",
                                                              "Random"
                                                            ]
                                                          }
                                                        },
                                                        "required": [
                                                          "action"
                                                        ]
                                                      },
                                                      {
                                                        "type": "object",
                                                        "properties": {
                                                          "credentialsId": {
                                                            "type": "string"
                                                          },
                                                          "sheetId": {
                                                            "type": "string"
                                                          },
                                                          "spreadsheetId": {
                                                            "type": "string"
                                                          },
                                                          "action": {
                                                            "type": "string",
                                                            "enum": [
                                                              "Insert a row"
                                                            ]
                                                          },
                                                          "cellsToInsert": {
                                                            "type": "array",
                                                            "items": {
                                                              "type": "object",
                                                              "properties": {
                                                                "column": {
                                                                  "type": "string"
                                                                },
                                                                "value": {
                                                                  "type": "string"
                                                                },
                                                                "id": {
                                                                  "type": "string"
                                                                }
                                                              },
                                                              "required": [
                                                                "id"
                                                              ]
                                                            }
                                                          }
                                                        },
                                                        "required": [
                                                          "action"
                                                        ]
                                                      },
                                                      {
                                                        "type": "object",
                                                        "properties": {
                                                          "credentialsId": {
                                                            "type": "string"
                                                          },
                                                          "sheetId": {
                                                            "type": "string"
                                                          },
                                                          "spreadsheetId": {
                                                            "type": "string"
                                                          },
                                                          "action": {
                                                            "type": "string",
                                                            "enum": [
                                                              "Update a row"
                                                            ]
                                                          },
                                                          "cellsToUpsert": {
                                                            "type": "array",
                                                            "items": {
                                                              "type": "object",
                                                              "properties": {
                                                                "column": {
                                                                  "type": "string"
                                                                },
                                                                "value": {
                                                                  "type": "string"
                                                                },
                                                                "id": {
                                                                  "type": "string"
                                                                }
                                                              },
                                                              "required": [
                                                                "id"
                                                              ]
                                                            }
                                                          },
                                                          "referenceCell": {
                                                            "type": "object",
                                                            "properties": {
                                                              "column": {
                                                                "type": "string"
                                                              },
                                                              "value": {
                                                                "type": "string"
                                                              },
                                                              "id": {
                                                                "type": "string"
                                                              }
                                                            },
                                                            "required": [
                                                              "id"
                                                            ]
                                                          },
                                                          "filter": {
                                                            "type": "object",
                                                            "properties": {
                                                              "comparisons": {
                                                                "type": "array",
                                                                "items": {
                                                                  "type": "object",
                                                                  "properties": {
                                                                    "id": {
                                                                      "type": "string"
                                                                    },
                                                                    "column": {
                                                                      "type": "string"
                                                                    },
                                                                    "comparisonOperator": {
                                                                      "type": "string",
                                                                      "enum": [
                                                                        "Equal to",
                                                                        "Not equal",
                                                                        "Contains",
                                                                        "Does not contain",
                                                                        "Greater than",
                                                                        "Greater or equal to",
                                                                        "Less than",
                                                                        "Less or equal to",
                                                                        "Is set",
                                                                        "Is empty",
                                                                        "Starts with",
                                                                        "Ends with",
                                                                        "Matches regex",
                                                                        "Does not match regex"
                                                                      ]
                                                                    },
                                                                    "value": {
                                                                      "type": "string"
                                                                    }
                                                                  },
                                                                  "required": [
                                                                    "id"
                                                                  ]
                                                                }
                                                              },
                                                              "logicalOperator": {
                                                                "type": "string",
                                                                "enum": [
                                                                  "OR",
                                                                  "AND"
                                                                ]
                                                              }
                                                            }
                                                          }
                                                        },
                                                        "required": [
                                                          "action"
                                                        ]
                                                      },
                                                      {
                                                        "type": "object",
                                                        "properties": {
                                                          "credentialsId": {
                                                            "type": "string"
                                                          },
                                                          "sheetId": {
                                                            "type": "string"
                                                          },
                                                          "spreadsheetId": {
                                                            "type": "string"
                                                          }
                                                        }
                                                      }
                                                    ]
                                                  }
                                                },
                                                "required": [
                                                  "id",
                                                  "type"
                                                ]
                                              },
                                              {
                                                "type": "object",
                                                "properties": {
                                                  "id": {
                                                    "type": "string"
                                                  },
                                                  "outgoingEdgeId": {
                                                    "type": "string"
                                                  },
                                                  "type": {
                                                    "type": "string",
                                                    "enum": [
                                                      "Make.com"
                                                    ]
                                                  },
                                                  "options": {
                                                    "type": "object",
                                                    "properties": {
                                                      "variablesForTest": {
                                                        "type": "array",
                                                        "items": {
                                                          "type": "object",
                                                          "properties": {
                                                            "id": {
                                                              "type": "string"
                                                            },
                                                            "variableId": {
                                                              "type": "string"
                                                            },
                                                            "value": {
                                                              "type": "string"
                                                            }
                                                          },
                                                          "required": [
                                                            "id"
                                                          ]
                                                        }
                                                      },
                                                      "responseVariableMapping": {
                                                        "type": "array",
                                                        "items": {
                                                          "type": "object",
                                                          "properties": {
                                                            "id": {
                                                              "type": "string"
                                                            },
                                                            "variableId": {
                                                              "type": "string"
                                                            },
                                                            "bodyPath": {
                                                              "type": "string"
                                                            }
                                                          },
                                                          "required": [
                                                            "id"
                                                          ]
                                                        }
                                                      },
                                                      "isAdvancedConfig": {
                                                        "type": "boolean"
                                                      },
                                                      "isCustomBody": {
                                                        "type": "boolean"
                                                      },
                                                      "isExecutedOnClient": {
                                                        "type": "boolean"
                                                      },
                                                      "webhook": {
                                                        "type": "object",
                                                        "properties": {
                                                          "id": {
                                                            "type": "string"
                                                          },
                                                          "queryParams": {
                                                            "type": "array",
                                                            "items": {
                                                              "type": "object",
                                                              "properties": {
                                                                "id": {
                                                                  "type": "string"
                                                                },
                                                                "key": {
                                                                  "type": "string"
                                                                },
                                                                "value": {
                                                                  "type": "string"
                                                                }
                                                              },
                                                              "required": [
                                                                "id"
                                                              ]
                                                            }
                                                          },
                                                          "headers": {
                                                            "type": "array",
                                                            "items": {
                                                              "type": "object",
                                                              "properties": {
                                                                "id": {
                                                                  "type": "string"
                                                                },
                                                                "key": {
                                                                  "type": "string"
                                                                },
                                                                "value": {
                                                                  "type": "string"
                                                                }
                                                              },
                                                              "required": [
                                                                "id"
                                                              ]
                                                            }
                                                          },
                                                          "method": {
                                                            "type": "string",
                                                            "enum": [
                                                              "POST",
                                                              "GET",
                                                              "PUT",
                                                              "DELETE",
                                                              "PATCH",
                                                              "HEAD",
                                                              "CONNECT",
                                                              "OPTIONS",
                                                              "TRACE"
                                                            ]
                                                          },
                                                          "url": {
                                                            "type": "string"
                                                          },
                                                          "body": {
                                                            "type": "string"
                                                          }
                                                        },
                                                        "required": [
                                                          "id"
                                                        ]
                                                      },
                                                      "timeout": {
                                                        "type": "number",
                                                        "minimum": 1,
                                                        "maximum": 120
                                                      }
                                                    }
                                                  },
                                                  "webhookId": {
                                                    "type": "string"
                                                  }
                                                },
                                                "required": [
                                                  "id",
                                                  "type"
                                                ]
                                              },
                                              {
                                                "type": "object",
                                                "properties": {
                                                  "id": {
                                                    "type": "string"
                                                  },
                                                  "outgoingEdgeId": {
                                                    "type": "string"
                                                  },
                                                  "type": {
                                                    "type": "string",
                                                    "enum": [
                                                      "Pabbly"
                                                    ]
                                                  },
                                                  "options": {
                                                    "type": "object",
                                                    "properties": {
                                                      "variablesForTest": {
                                                        "type": "array",
                                                        "items": {
                                                          "type": "object",
                                                          "properties": {
                                                            "id": {
                                                              "type": "string"
                                                            },
                                                            "variableId": {
                                                              "type": "string"
                                                            },
                                                            "value": {
                                                              "type": "string"
                                                            }
                                                          },
                                                          "required": [
                                                            "id"
                                                          ]
                                                        }
                                                      },
                                                      "responseVariableMapping": {
                                                        "type": "array",
                                                        "items": {
                                                          "type": "object",
                                                          "properties": {
                                                            "id": {
                                                              "type": "string"
                                                            },
                                                            "variableId": {
                                                              "type": "string"
                                                            },
                                                            "bodyPath": {
                                                              "type": "string"
                                                            }
                                                          },
                                                          "required": [
                                                            "id"
                                                          ]
                                                        }
                                                      },
                                                      "isAdvancedConfig": {
                                                        "type": "boolean"
                                                      },
                                                      "isCustomBody": {
                                                        "type": "boolean"
                                                      },
                                                      "isExecutedOnClient": {
                                                        "type": "boolean"
                                                      },
                                                      "webhook": {
                                                        "type": "object",
                                                        "properties": {
                                                          "id": {
                                                            "type": "string"
                                                          },
                                                          "queryParams": {
                                                            "type": "array",
                                                            "items": {
                                                              "type": "object",
                                                              "properties": {
                                                                "id": {
                                                                  "type": "string"
                                                                },
                                                                "key": {
                                                                  "type": "string"
                                                                },
                                                                "value": {
                                                                  "type": "string"
                                                                }
                                                              },
                                                              "required": [
                                                                "id"
                                                              ]
                                                            }
                                                          },
                                                          "headers": {
                                                            "type": "array",
                                                            "items": {
                                                              "type": "object",
                                                              "properties": {
                                                                "id": {
                                                                  "type": "string"
                                                                },
                                                                "key": {
                                                                  "type": "string"
                                                                },
                                                                "value": {
                                                                  "type": "string"
                                                                }
                                                              },
                                                              "required": [
                                                                "id"
                                                              ]
                                                            }
                                                          },
                                                          "method": {
                                                            "type": "string",
                                                            "enum": [
                                                              "POST",
                                                              "GET",
                                                              "PUT",
                                                              "DELETE",
                                                              "PATCH",
                                                              "HEAD",
                                                              "CONNECT",
                                                              "OPTIONS",
                                                              "TRACE"
                                                            ]
                                                          },
                                                          "url": {
                                                            "type": "string"
                                                          },
                                                          "body": {
                                                            "type": "string"
                                                          }
                                                        },
                                                        "required": [
                                                          "id"
                                                        ]
                                                      },
                                                      "timeout": {
                                                        "type": "number",
                                                        "minimum": 1,
                                                        "maximum": 120
                                                      }
                                                    }
                                                  },
                                                  "webhookId": {
                                                    "type": "string"
                                                  }
                                                },
                                                "required": [
                                                  "id",
                                                  "type"
                                                ]
                                              },
                                              {
                                                "type": "object",
                                                "properties": {
                                                  "id": {
                                                    "type": "string"
                                                  },
                                                  "outgoingEdgeId": {
                                                    "type": "string"
                                                  },
                                                  "type": {
                                                    "type": "string",
                                                    "enum": [
                                                      "Webhook"
                                                    ],
                                                    "description": "Legacy name for HTTP Request block"
                                                  },
                                                  "options": {
                                                    "type": "object",
                                                    "properties": {
                                                      "variablesForTest": {
                                                        "type": "array",
                                                        "items": {
                                                          "type": "object",
                                                          "properties": {
                                                            "id": {
                                                              "type": "string"
                                                            },
                                                            "variableId": {
                                                              "type": "string"
                                                            },
                                                            "value": {
                                                              "type": "string"
                                                            }
                                                          },
                                                          "required": [
                                                            "id"
                                                          ]
                                                        }
                                                      },
                                                      "responseVariableMapping": {
                                                        "type": "array",
                                                        "items": {
                                                          "type": "object",
                                                          "properties": {
                                                            "id": {
                                                              "type": "string"
                                                            },
                                                            "variableId": {
                                                              "type": "string"
                                                            },
                                                            "bodyPath": {
                                                              "type": "string"
                                                            }
                                                          },
                                                          "required": [
                                                            "id"
                                                          ]
                                                        }
                                                      },
                                                      "isAdvancedConfig": {
                                                        "type": "boolean"
                                                      },
                                                      "isCustomBody": {
                                                        "type": "boolean"
                                                      },
                                                      "isExecutedOnClient": {
                                                        "type": "boolean"
                                                      },
                                                      "webhook": {
                                                        "type": "object",
                                                        "properties": {
                                                          "id": {
                                                            "type": "string"
                                                          },
                                                          "queryParams": {
                                                            "type": "array",
                                                            "items": {
                                                              "type": "object",
                                                              "properties": {
                                                                "id": {
                                                                  "type": "string"
                                                                },
                                                                "key": {
                                                                  "type": "string"
                                                                },
                                                                "value": {
                                                                  "type": "string"
                                                                }
                                                              },
                                                              "required": [
                                                                "id"
                                                              ]
                                                            }
                                                          },
                                                          "headers": {
                                                            "type": "array",
                                                            "items": {
                                                              "type": "object",
                                                              "properties": {
                                                                "id": {
                                                                  "type": "string"
                                                                },
                                                                "key": {
                                                                  "type": "string"
                                                                },
                                                                "value": {
                                                                  "type": "string"
                                                                }
                                                              },
                                                              "required": [
                                                                "id"
                                                              ]
                                                            }
                                                          },
                                                          "method": {
                                                            "type": "string",
                                                            "enum": [
                                                              "POST",
                                                              "GET",
                                                              "PUT",
                                                              "DELETE",
                                                              "PATCH",
                                                              "HEAD",
                                                              "CONNECT",
                                                              "OPTIONS",
                                                              "TRACE"
                                                            ]
                                                          },
                                                          "url": {
                                                            "type": "string"
                                                          },
                                                          "body": {
                                                            "type": "string"
                                                          }
                                                        },
                                                        "required": [
                                                          "id"
                                                        ]
                                                      },
                                                      "timeout": {
                                                        "type": "number",
                                                        "minimum": 1,
                                                        "maximum": 120
                                                      }
                                                    }
[...]
